[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
python-dotenv = "*"
supabase = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
djangorestframework = "*"
google-cloud-secret-manager = "*"
transformers = "*"
torch = { version = "==2.5.0", index = "pytorch-cpu" }
strenum = "*"
huggingface-hub = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
